@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[28px] sm:text-[35px] md:text-[45px] lg:text-[65px] leading-none;
  }
  h2 {
    @apply text-[20px] sm:text-[24px] md:text-[30px] lg:text-[45px] leading-none;
  }
  h3 {
    @apply text-[20px] sm:text-[25px] md:text-[30px] lg:text-[35px] leading-none;
  }
  h4 {
    @apply text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px] leading-none;
  }
  h5 {
    @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[17px] leading-none;
  }
  h6 {
    @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[16px] leading-none;
  }
}

.maxWidth {
  max-width: 1240px;
}

.heroSectionBg {
  background: linear-gradient(116deg, #fbd7ff -2.2%, #ffddc0 99.09%);
  box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.08);
}
